@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}

body
{
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #f6f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main
{
    width: 50vw;
}

.form
{
    padding-top: 3%;
}

.form-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-block
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 20px;
}

.form-input
{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    line-height: 1.5;
}

.form-input:focus
{
    outline: none;
}

.form-input::-webkit-outer-spin-button,.form-input::-webkit-inner-spin-button,.form-input[type=number]
{
    appearance: none;
}

label
{
    margin-bottom: 10px;
}

#errors
{
    margin-bottom: 10px;
    color: red;
    font-weight: 1000;
}

.form-submit
{
    font-family: "Roboto", sans-serif;
    background-color: #eb6304;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.form-submit:hover
{
    background-color: #cf5a06;
}

.submission
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#agreement
{
    margin-left: 15px;
    font-size: 0.9rem;
}

span
{
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    body
    {
        min-height: 70vh;
        font-size: 2rem;
    }

    .main
    {
        width: 90vw;
    }

    .form-input
    {
        height: calc(3rem + 1.5rem + 2px);
        font-size: 2rem;
    }

    .form-row
    {
        display: block;
    }

    .form-submit
    {
        width: 100%;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .submission
    {
        display: block;
    }

    #agreement
    {
        margin-left: 0;
    }
}