<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Candidature TESTOP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}">
</head>


<body>
    <div class="main">
        <h1>Soumettez votre candidature</h1>
        <form class="form" id="application-form" action="{{url_for('submit_form')}}" method="post">
            <div class="form-row">
                <div class="form-block" id="form-fname">
                    <label>Prénom</label>
                    <input class="form-input" id="fname" name="fname" type="text" size="20" placeholder="John" required>
                </div>
                <div class="form-block" id="form-lname">
                    <label>Nom</label>
                    <input class="form-input" id="lname" name="lname" type="text" size="20" placeholder="Smith"
                        required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-block" id="form-birthdate">
                    <label id="label-birthdate">Date de naissance</label>
                    <input class="form-input" id="birthdate" name="birthdate" type="text" size="20"
                        placeholder="dd/mm/yyyy" required>
                </div>
                <div class="form-block" id="form-birthplace">
                    <label>Lieu de naissance</label>
                    <input class="form-input" id="placeBirth" name="placeBirth" type="text" size="20"
                        placeholder="Lille" required>
                </div>
            </div>


            <div class="form-row">
                <div class="form-block" id="form-degreelvl">
                    <label>Diplôme</label>
                    <input class="form-input" id="degreeLvl" name="degreeLvl" type="text" size="20"
                        placeholder="Diplôme d'ingénieur" required>
                </div>
                <div class="form-block" id="form-mailaddress">
                    <label id="label-mail">Adresse mail</label>
                    <input class="form-input" id="mail" name="mail" type="email" size="20"
                        placeholder="john.smith@example.com" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-block" id="form-address">
                    <label>Adresse</label>
                    <input class="form-input" id="adress" name="address" type="text" size="20"
                        placeholder="1 rue Jacques Rousseau 59000 Lille" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-block" id="form-socsecnumber">
                    <label id="label-ssn">Sécurité sociale</label>
                    <input class="form-input" id="socSecNumber" name="socSecNumber" type="number" size="20"
                        placeholder="1600159000199" required>
                </div>
                <div class="form-block" id="form-phonenumber">
                    <label id="label-phonenb">Téléphone</label>
                    <input class="form-input" id="phonenumber" name="phonenumber" type="tel" size="20"
                        placeholder="+33 6 12 34 56 78" required>
                </div>
            </div>

            <div class="submission">
                <input class="form-submit" id="submit" type="submit" value="Valider">

                <p id="agreement">En cliquant sur <span>Valider</span> vous donnez votre accord pour l'utilisation des
                    données fournies dans le processus de recrutement</p>
            </div>
        </form>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>